.footer {
	position: absolute;
	bottom: 10;
	width: 100%;
	padding-top: 100px;
	background-color: #333;
	color: white;

}
html {
	position: relative;
}
body {
	margin-bottom: 100px;

}
.jumbotron {
	min-height: 500px;
}